:root{
    --bg-black:black;
    --white:#f8f8f8;
    --bg-gray:rgb(39,39,39);
    --link-blue:rgb(126,162,236);
    --mobile-bg:#0f0f0f;
    --bg-light-gray:rgba(39,43,45,0.43);
    --bg-red:rgb(238,47,76);
    --bg-green: rgb(2,119,87);
    ---mobile-box-shawdow:rgb(176 176 176 /16%) 0px -5px 6px 0px inset;
    ---mobile-bg:rgb(39,43,45);
}
